<div class="flickr flickr-photoset">
    <h2 class="flickr-photoset-title">{{ photoset.title() }}</h2>
    <h3 class="flickr-photoset-description">{{ photoset.description() }}</h3>
    <section data-featherlight-gallery data-featherlight-filter=".flickr-photo">
    {% for photo in photoset.photos() %}
        {% include 'partials/flickr-photo.html.twig' %}
    {% endfor %}
    </section>
</div>
