 <div id="lightbox-{{ photo.id() }}" class="flickr-lightbox">
    <img src="{{ photo.url_m() }}">
    <figcaption>{{ photo.title() }}</figcaption>
    <span><a href="{{ photo.url_original() }}" target='_blank'>High resolution version</a></span>
</div>
