 <div id="lightbox-{{ photo.id() }}" class="flickr-lightbox">
    <img src="{{ photo.url(params['display-format-photo-lightbox']) }}">
    <figcaption>{{ photo.title() }}</figcaption>
    <span><a href="{{ photo.url('o') }}" target='_blank'>Original version</a></span>
</div>
